<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<!-- {{ courses | json }} -->
<div *ngFor="let pair of course | keyvalue">
    {{pair.key + ': ' + pair.value}}
</div>

<div class="demo">

    <div>Start date: {{startDate | date: 'MMM dd yyyy' }} </div>
    <div> {{ title | titlecase}}</div>
    <div> {{price | number: '3.3-5'}}</div>
    <div> {{price | currency: 'EUR'}}</div>
    <div> Percentage: {{rate | percent}}</div>
</div>

<div class="courses">
    @for (course of courses; track course.id; let index = $index; let count = $count; let first = $first; let last = $last; let even = $even; let odd=$odd) {

      <!--  <course-card
         *ngFor="let course of courses | slice:0:2; index as i; first as isFirst" 
         [index]="i+1"
           [class.is-first]="isFirst" 
        -->
         <course-card   
            [course]="course" 
            [index]="index+1"
            [class.is-first]="first" 
            [class.is-last]="last"
            [class.is-even]="even"
            [class.is-odd]="odd"
            (courseSelected)="onCourseSelected($event)" />
    } 

    @empty {

        <h1>No courses found!</h1>
    }
    

</div>


